html {
	font-size: 10px;
}

body {
	background-image: url("images/000080870003.jpg");
	background-color: #ddd;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

p {
	font-size: 2rem;
	font-family: "Courier New";
	color: #FFE049;
}

li {
	font-size: 2rem;
	font-family: "Courier New";
	color: #b9ffb9;
}

.title {
	font-size: 6rem;
	font-family: "arial";
	font-weight: lighter;
	color: #fff;
}

.content-container {
	padding-top: 2%;
	padding-left: 2%;
}

.letterbox {
	height: 2rem;
	opacity: 69%;
	width: 100%;
	background: #ddd;
}

.letterbox-top {
	display: none;
}

.letterbox-bottom {
	display: none;
}
